//-------------------------------------------------
//
//  Colors
//  ==========
//
//-------------------------------------------------

$tundora: #4A4A4A;
$lochmara: #0579C6;
$cerise: #DA49B2;
$westar: #DBD6D0;
$carnation: #F35667;
$jungle-green: #2EAA86;
$candy-corn: #FBE655;
$crusta: #FD763F;