//-------------------------------------------------
//
//  Form
//  ==========
//  Reset
//-------------------------------------------------

fieldset {
  border: 1px solid darken($white, 15);
  border-radius: .5em;
  padding: 2rem;
}

//-------------------------------------------------
//
//  Form
//  ==========
//  Default Styles
//-------------------------------------------------

label {
  display: block;
  font-weight: $font-weight-bold;
  line-height: $base-line-height;
}

input,
textarea,
select,
button {
  display: block;
}

input[type="checkbox"],
input[type="radiobutton"] {
  display: inline;
  float: left;
  line-height: $base-line-height;
}