//-------------------------------------------------
//
//  Form
//  ==========
//
//-------------------------------------------------

input,
textarea,
select,
fieldset {
  border: 1px solid darken($white, 15);
  border-radius: .5rem;
}

fieldset {
  padding: 2em;
}

label {
  display: block;
  line-height: $base-line-height;
  color: lighten($tundora, 25);
  font-size: .8em;
}

input,
textarea,
select,
button {
  display: block;
}

input,
textarea,
select {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: .5rem;
  font-size: $base-font-size;
}

input[type="checkbox"],
input[type="radio"] {
  display: inline;
  float: left;
  line-height: 2 * $base-em;
  margin-top: .8 * $base-em;
  margin-right: .5 * $base-em;
}