//-------------------------------------------------
//
//  Pre
//  ==========
//
//-------------------------------------------------

pre,
code,
kbd,
samp,
var,
output {
  padding: .2rem .5em;
  border: 1px solid darken($white, 15);
  border-radius: .5em;
  background-color: darken($white, 5);
  font-family: $monospace;
  color: $tundora;
}